<div class="round-white-container">
    <h2 class="module-header">Business Profile</h2>
    <div class="inline-text">
        <p class="field-name">Industry:</p>
        <p class="field-value">Professtional Services</p>
    </div>
    <div class="inline-text">
        <p class="field-name">Legal Form of Business:</p>
        <p class="field-value">Corporation (S-Corp)</p>
    </div>
    <div class="inline-text">
        <p class="field-name">Company Address:</p>
        <p class="field-value">2230 Peachtree Rd NW, Suite C-204, Atlanta, GA 30309</p>
    </div>
    <div class="inline-text">
        <p class="field-name">Annual Revenue:</p>
        <p class="field-value">$1 million to $5 million</p>
    </div>
    <div class="inline-text">
        <p class="field-name">Company Website:</p>
        <p class="field-value">https://www.nowtechconsulting.com</p>
    </div>
    <div class="inline-text">
        <p class="field-name">Year Founded:</p>
        <p class="field-value">2004</p>
    </div>
    <div class="inline-text">
        <p class="field-name">State of Organization:</p>
        <p class="field-value">Georgia</p>
    </div>
    <div class="inline-text">
        <p class="field-name">Number of Employees:</p>
        <p class="field-value">6-15</p>
    </div>
</div>