
<div class="main">
  <div class="container">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="modules">
      <h1>NowTech Consulting, LLC</h1>
      <h3>Good job! You've submitted your application to NowAccount.</h3>
      <app-secondary-green-button>
        <p>Your application is under review! Return Home.</p>
      </app-secondary-green-button>
      <app-scrollable-wrapper>
        <app-business-profile></app-business-profile>
        <app-financial-details></app-financial-details>
        <app-customer-portfolio></app-customer-portfolio>
      </app-scrollable-wrapper>
      <app-secondary-green-button>
        <p>Download Summary PDF</p>
      </app-secondary-green-button>
    </div>
  </div>
</div>
